@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
html {
    background-color: #121212;
}

body {
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
}

code {
    background-color: #222222;
    font-family: monospace;
    font-size: large;
}

.button {
    color: #FFFFFF;
}

h4 {
    padding-bottom: 3%;
}

h6 {
    padding-top: 2%;
    font-size: 40px;
}

.row {
    margin-top: 1%;
    border-bottom: 1px solid #eee; 
}

a {
    text-decoration: none;
}
