@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
html {
    background-color: #121212;
}

body {
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
}

code {
    background-color: #222222;
    font-family: monospace;
    font-size: clamp(16px, 1.2vw, 48px);
}

.button {
    color: #FFFFFF;
}

h4 {
    padding-top: 1%;
}

h6 {
    padding-top: 2%;
}

.row {
    margin-top: 1%;
    border-bottom: 1px solid #eee; 
}

a {
    text-decoration: none;
}

.container {
    max-width: 100%;
}

img {
  display: block;
  margin: auto;
  width: 100%;
}
p {
    font-size: clamp(18px, 1.2vw, 48px);
}
ul {
    font-size: clamp(16px, 1.1vw, 32px);
}